<section id="bg" class="colorful-form">
   <div class="wrapper hvr-bounce-in">
      <p class="line__1">const itBrains = </p>
      <p class="line__2">"the best"</p>
   </div>
   <button class="switch-btn" onclick="toggleBackground()">switch backgrounds</button>
   <div class="login-box">
      <form action>
         <h2 class="hvr-wobble-horizontal">Login</h2>
         <div class="input-box">
            <span class="icon"><ion-icon name="mail"></ion-icon></span>
            <input type="email" required>
            <label>Email</label>
         </div>
         <div class="input-box">
            <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
            <input type="password" required>
            <label>Password</label>
         </div>
         <div class="remember-forgot">
            <label>
               <input type="checkbox" name="remember-me" id="remember-me">
               Remember me
            </label>
            <a href="#">Forgot Password?</a>
         </div>
         <button class="hvr-ripple-out" type="submit">Login</button>
         <div class="register-link">
            <p>Don't have an account? <a href="#">Register</a></p>
         </div>
      </form>
   </div>
</section>
